.baseInput {
    display: flex;
    align-items: center;
    height: 34px;
    padding-left: 16px;

    color: var(--Grey);
    border: 2px solid var(--Grey);
    background: var(--White);

    outline: none;

    font-family: "RF Dewi", sans-serif;
    font-size: 16px;
    line-height: 150%;
}

.baseInput:hover {
    border-color: var(--Grey-Dark);
}

.baseInput:hover::-webkit-input-placeholder {
    color: var(--Grey-Dark);
}