@import "vars.scss";


.company__info {
  @include flexColumn;
  align-items: flex-start;

  width: 100%;
  padding: 32px 16px;
  background: var(--Light-black);
  gap: 32px;
}

.info__heading {
  @include flexColumn;
  justify-content: center;

  height: 58px;

  color: var(--Light-Gray);
  font-family: "RF Dewi Expanded", sans-serif;
  font-size: 34px;
  font-weight: 800;
  line-height: 120%;
  text-transform: uppercase;
}

.company__info__text {
  @include flexColumn;
  gap: 8px;
  align-items: flex-start;
}

.company__info__text__heading {
  @include dewi-900;
  color: var(--Dark-Grey);
}

.company__info__text__content {
  @include dewi-400;
  color: var(--Light-Gray);
}

.social {
  @include flexCenter;
  width: 24px;
  height: 24px;
  fill: var(--Light-Gray);
}

.company__info__social {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.company__info__text__content a {
  color: var(--Red);
  text-decoration-line: underline;
}

.page__staff__department {
  @include flexColumn;
  align-items: flex-start;
  gap: 32px;

  width: 390px;
  padding: 32px 16px;
}

.page__staff__department__heading {
  @include dewi-900;
  width: 100%;
  color: var(--Light-black);

  font-size: 24px;
  line-height: 150%;
  text-transform: uppercase;
}

.card {
  display: flex;
  align-items: center;
  gap: 32px;
}

.card__image {
  height: 200px;
  object-fit: cover;
}

.card__text {
  @include flexColumn;
  align-items: flex-start;
}

.card__text__name {
  @include dewi-900;
  color: var(--Black);
}

.card__text__role {
  @include dewi-400;
  color: var(--Red);
}

.page__about {
  @include flexColumn;
  align-items: flex-start;
  gap: 16px;

  padding: 32px 16px;
}

.page__about__text {
  @include dewi-400;
  color: var(--Dark-Grey);
}

.page__about__heading {
  @include dewi-900;
  color: var(--Dark-Grey);
}

@media (min-width: 1024px) {
  .main {
  }

  .info {
    position: relative;
    display: grid;
    grid-template-columns: 15fr 25fr;
    overflow-y: auto;
    height: 100vh;
    background: var(--Light-black);
  }
  .social {
    transition: 300ms;
  }

  .social:hover {
    fill: var(--Red);
  }

  .company__info {
    height: 100vh;
    padding: 64px 64px 0 160px;
    position: sticky;
    top: 0;
    margin-left: auto;
    margin-right: 0;
  }

  .info__heading {
    font-size: 48px;
  }

  .page__staff {
    background: var(--White);

    padding: 32px 160px 128px 40px;
    width: 100%
  }
  .page__staff__department__heading {
    font-size: 28px;
  }

  .page__staff__department {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    width: 380px;
  }

  .page__staff__department__heading {
    grid-column: 1/-1;
  }
  .page__about {
    padding: 220px;
  }

}