.info__company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 32px 16px;
  background: var(--Light-black);
  gap: 32px;
}

.info__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 58px;
  color: var(--Light-Gray);
  font-family: "RF Dewi Expanded", sans-serif;
  font-size: 34px;
  font-weight: 800;
  line-height: 120%;
  text-transform: uppercase;
}

.info__company__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.info__company__text__heading {
  font-family: "RF Dewi Expanded", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 120%;
  color: var(--Dark-Grey);
}

.info__company__text__content {
  font-family: "RF Dewi", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: var(--Light-Gray);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  fill: var(--Light-Gray);
}

.info__company__social {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.info__company__text__content a {
  color: var(--Red);
  text-decoration-line: underline;
}

.department {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding: 32px 16px;
}

.department__heading {
  font-family: "RF Dewi Expanded", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 120%;
  width: 100%;
  color: var(--Light-black);
  font-size: 24px;
  line-height: 150%;
  text-transform: uppercase;
}

.card {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 32px;
}

.card__image {
  height: 200px;
  width: 150px;
  object-fit: contain;
  object-position: left;
}

.card__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card__name {
  font-family: "RF Dewi Expanded", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 120%;
  color: var(--Black);
}

.card__role {
  font-family: "RF Dewi", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: var(--Red);
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 32px 16px;
}

.about__text {
  font-family: "RF Dewi", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: var(--Dark-Grey);
}

.about__heading {
  font-family: "RF Dewi Expanded", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 120%;
  color: var(--Dark-Grey);
}

@media (min-width: 1024px) {
  .info {
    position: relative;
    display: grid;
    grid-template-columns: 15fr 25fr;
    overflow-y: auto;
    height: 100vh;
    background: var(--Light-black);
  }
  .social {
    transition: 300ms;
  }
  .social:hover {
    fill: var(--Red);
  }
  .info__company {
    height: 100vh;
    padding: 64px 64px 0 160px;
    position: sticky;
    top: 0;
    margin-left: auto;
    margin-right: 0;
  }
  .info__heading {
    font-size: 48px;
  }
  .staff {
    background: var(--White);
    padding: 32px 160px 128px 40px;
    width: 100%;
  }
  .department__heading {
    font-size: 28px;
  }
  .department {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    width: 380px;
  }
  .department__heading {
    grid-column: 1/-1;
  }
  .about {
    padding: 220px;
  }
}
@media (max-width: 360px) {
  .card {
    flex-direction: column;
  }
}

/*# sourceMappingURL=content.css.map */
