.dewi-400, .page__about__text, .card__text__role, .company__info__text__content {
  font-family: "RF Dewi", sans-serif;
  font-size: 16px;
  line-height: 150%;
}

.dewi-700 {
  font-family: "RF Dewi", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
}

.dewi-900, .page__about__heading, .card__text__name, .page__staff__department__heading, .company__info__text__heading {
  font-family: "RF Dewi Expanded", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 120%;
}

.flexColumn, .page__about, .card__text, .page__staff__department, .company__info__text, .info__heading, .company__info {
  display: flex;
  flex-direction: column;
}

.flexCenter, .social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.company__info {
  align-items: flex-start;
  width: 100%;
  padding: 32px 16px;
  background: var(--Light-black);
  gap: 32px;
}

.info__heading {
  justify-content: center;
  height: 58px;
  color: var(--Light-Gray);
  font-family: "RF Dewi Expanded", sans-serif;
  font-size: 34px;
  font-weight: 800;
  line-height: 120%;
  text-transform: uppercase;
}

.company__info__text {
  gap: 8px;
  align-items: flex-start;
}

.company__info__text__heading {
  color: var(--Dark-Grey);
}

.company__info__text__content {
  color: var(--Light-Gray);
}

.social {
  width: 24px;
  height: 24px;
  fill: var(--Light-Gray);
}

.company__info__social {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.company__info__text__content a {
  color: var(--Red);
  text-decoration-line: underline;
}

.page__staff__department {
  align-items: flex-start;
  gap: 32px;
  width: 390px;
  padding: 32px 16px;
}

.page__staff__department__heading {
  width: 100%;
  color: var(--Light-black);
  font-size: 24px;
  line-height: 150%;
  text-transform: uppercase;
}

.card {
  display: flex;
  align-items: center;
  gap: 32px;
}

.card__image {
  height: 200px;
  object-fit: cover;
}

.card__text {
  align-items: flex-start;
}

.card__text__name {
  color: var(--Black);
}

.card__text__role {
  color: var(--Red);
}

.page__about {
  align-items: flex-start;
  gap: 16px;
  padding: 32px 16px;
}

.page__about__text {
  color: var(--Dark-Grey);
}

.page__about__heading {
  color: var(--Dark-Grey);
}

@media (min-width: 1024px) {
  .info {
    display: grid;
    grid-template-columns: 15fr 25fr;
    height: 100vh;
    background: var(--Light-black);
  }
  .social {
    transition: 300ms;
  }
  .social:hover {
    fill: var(--Red);
  }
  .company__info {
    padding: 64px 64px 0 160px;
    margin-left: auto;
    margin-right: 0;
  }
  .info__heading {
    font-size: 48px;
  }
  .page__staff {
    background: var(--White);
    overflow-y: auto;
    padding: 32px 160px 128px 40px;
    width: 100%;
  }
  .page__staff__department__heading {
    font-size: 28px;
  }
  .page__staff__department {
    width: 100% !important;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    width: 380px;
  }
  .page__staff__department__heading {
    grid-column: 1/-1;
  }
  .page__about {
    padding: 220px;
  }
}

/*# sourceMappingURL=content.css.map */
