@import url("vars.css");

.header {
    display: flex;
    width: 100vw;
    flex-direction: column;
}


.header__content {
    display: flex;
    width: 100%;
    padding: 8px 16px;
    justify-content: flex-start;
    gap: 16px;
    align-items: center;
}

.header__logo {
    gap: 20px;
}
.header__logo__image {
    width: 38px;
}

.header__logo__title {
    display: none;
}

.header__call {
    display: flex;
    width: 38px;
    height: 38px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background: url("../assets/phone.svg") no-repeat center;
    border: 2px solid var(--Red);
}

.header__menu {
    display: flex;
    width: 38px;
    height: 38px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin-right: 0;
    margin-left: auto;
    background: url("../assets/menu.svg") no-repeat center;
    border: 2px solid var(--Grey);
}

.menu__modal {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 8px 16px;

    background: var(--White);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.modal__logo {
    gap: 20px;
}

.modal__close {
    align-self: flex-end;
    width: 38px;
    height: 38px;
}

.modal__nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.modal__nav a {
    text-transform: uppercase;
    color: var(--Grey-Dark)
}
.modal__nav .nav__link:hover {
    color: var(--Grey);
}
.modal__nav .button {
    width: 100%;
}

.button-call-us {
    color: var(--Red);
    border-color: var(--Red);
}

.modal__logo .header__logo__title {
    display: block;
    color: #2C2B2E;
    font-family: "RF Dewi Expanded", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 37.436px */
    text-transform: uppercase;
}

.modal__close {
    background: url("../assets/close.svg") no-repeat center;
    border: 2px solid var(--Grey);
}

.flex-align-center {
    display: flex;
    align-items: center;
}