@import "vars.scss";

.header {
  @extend .flexColumn;
  width: 100vw;
}


.header__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  width: 100%;
  padding: 8px 16px;
}

.header__logo {
  gap: 20px;
}

.header__logo__image {
  width: 38px;
}

.header__logo__title {
  display: none;
}

.header__call {
  @extend .flexCenter;

  gap: 10px;

  width: 38px;
  height: 38px;
  padding: 8px;

  background: url("../assets/phone.svg") no-repeat center;
  border: 2px solid var(--Red);
}

.header__menu {
  @extend .flexCenter;

  gap: 10px;
  width: 38px;
  height: 38px;
  padding: 8px;

  margin-right: 0;
  margin-left: auto;
  background: url("../assets/menu.svg") no-repeat center;
  border: 2px solid var(--Grey);
}

.menu__modal {
  @extend .flexColumn;
  align-items: center;
  gap: 16px;

  padding: 8px 16px 32px 16px;

  background: var(--White);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.modal__logo {
  gap: 20px;
}

.modal__close {
  align-self: flex-end;
  width: 38px;
  height: 38px;
}

.modal__nav {
  @extend .flexColumn;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.modal__nav a {
  text-transform: uppercase;
  color: var(--Grey-Dark)
}

.nav__link {
  @extend .dewi-400;
}

.modal__nav .nav__link:hover {
  color: var(--Grey);
}

.modal__nav .button {
  width: 100%;
}

.button-call-us {
  color: var(--Red);
  border-color: var(--Red);
}

.modal__logo .header__logo__title {
  @extend .dewi-900;
  display: block;
  color: #2C2B2E;
  font-size: 32px;
  text-transform: uppercase;
}

.modal__close {
  background: url("../assets/close.svg") no-repeat center;
  border: 2px solid var(--Grey);
}

.flex-align-center {
  display: flex;
  align-items: center;
}
